@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.searchSvg{
    background-image: url("../search.svg");
    width: 14px;
    height: 14px;
    top: 50%;
    right: 24.55px;
    transform: translateY(-50%);
    cursor: pointer;
    position: absolute;
}



select{
  appearance: none;
  background-image: url("../selectArrow.svg");
  background-repeat: no-repeat;
  background-position: 80% 50%;
}

.select-container{
   background-position: 96% 50%;
}

input[type=radio]{
  width: 0;
  visibility: hidden;
}

input[type=radio] + label {
  cursor: pointer;
}

input[type=radio]:checked + label {
  background-color: rgb(0, 0, 0);
}


input[type="date"]::-webkit-calendar-picker-indicator{
    background: url("../calend_grey.svg");
    width: 15px;
    height: 17px;
    top: 50%;
    right: 17px;
    cursor: pointer;
    background-repeat: no-repeat;
    position: relative;
}

input::-webkit-datetime-edit{
    color: transparent;
    visibility: hidden;
}

input::-webkit-datetime-edit{
   background: #000;
}


.out-screen{
  position: absolute;
  top: -5000px;
}

.ai-input{
    &::placeholder{
      color: #000000;
      font-size: 10px;
    }  
}


.dueDate-input{
  &::-webkit-calendar-picker-indicator{
    transform: scaleX(10);
    opacity: 0;
  }
}


.circleTag{
  right: attr(data-right px);
}

option[data-selected=true]{
  background-color: #D3590B;
  color: #FFFFFF;
}



option:hover{
  background-color: brown;
}


.loading{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  position: absolute;
  top: 35%;
  left: 37%;
  animation: spin 0.5s linear infinite  ;
}

.loading-page{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid black;
  border-bottom: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transform-origin: left top;
  animation: spin 0.5s linear infinite  ;
  z-index: 300;
}

@keyframes spin {
  from{
     rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
}


.outScreen{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


@mixin manrope($weight){
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}


.manrope-700{
  @include manrope(700)
}

.manrope-600{
  @include manrope(600)
}