.btn{
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 400;
    border: 1px solid transparent;
}

.btn-grey{
    background-color: #E5E7EB;
    color: #9CA3AF;
}


.btn-white{
    background-color: #FFFFFF;
    color: #D3590B;
    border-color: #D3590B;
}   

.btn-black{
    background-color: #0F0F0F;
    color: #FFFFFF;
}   

.btn-softBlack{
    background-color: #1F1F1F;
    color: #FFFFFF;
}   