
body {
  font-family: Arial, Helvetica, sans-serif;
}

.searchSvg{
    background-image: url("../search.svg");
    width: 14px;
    height: 14px;
    top: 50%;
    right: 24.55px;
    transform: translateY(-50%);
    cursor: pointer;
    position: absolute;
}



select{
  appearance: none;
  background-image: url("../selectArrow.svg");
  background-repeat: no-repeat;
  background-position: 80% 50%;
}

.select-container{
   background-position: 96% 50%;
}

input[type=radio]{
  width: 0;
  visibility: hidden;
}

input[type=radio] + label {
  cursor: pointer;
}

input[type=radio]:checked + label {
  background-color: rgb(0, 0, 0);
}


input[type="date"]::-webkit-calendar-picker-indicator{
    background: url("../calend_grey.svg");
    width: 15px;
    height: 17px;
    top: 50%;
    right: 17px;
    cursor: pointer;
    background-repeat: no-repeat;
    position: relative;
}