
body {
  font-family: Arial, Helvetica, sans-serif;
}

.searchSvg{
    background-image: url("../search.svg");
    width: 14px;
    height: 14px;
    top: 50%;
    right: 24.55px;
    transform: translateY(-50%);
    cursor: pointer;
    position: absolute;
}